<div class="main-item" id="dashboard-page" >
    <div class="ui segment">
      <h2 class="ui header">
        <i class="blue colored desktop icon"></i>
        <div class="content">    
  DASHBOARD
          <div class="sub header">Analysis</div>
        </div>
      </h2>
        <hr>
        </div>
    <hr>
    <!--Starting Firebase Cloud Storage-->
    <div class="ui segment">
    Upload Progress : <progress value="0" max="100" id="uploader">0%</progress>
    <br>
    Choose your file [must be in bmp, jpg, png, or pbm] : <br><input type="file" value="upload" id="fileBtn">
    <br>
    <br>
    Analysis goes here :
    <div id="analysis"></div>
    <br>
    <br>
    Result : <div id="res" style="display: inline; color: orchid;">Pending</div>
  </div>
  </div>
  