<div class="main-item" id="Manage-Hospital" style="display:none;">
  <div class="ui segment">
    <h2 class="ui header"><button class="ui mini positive right floated button">EDIT</button>
      <i class="red colored hospital icon"></i>
      <div class="content">    
RESOURCE MANAGEMENT
        <div class="sub header">Manage your Resources</div>
      </div>
    </h2>
      <hr>
      </div>
    <hr>
    <form>
    <div class="ui container">
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          Licensed Beds
        </div>
        <input id="mh-beds" type="text" readonly>
      </div>
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          Staffed Beds
        </div>
        <input id="mh-st-beds" type="text" readonly>
      </div>
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          ICU Beds
        </div>
        <input id="mh-icu-beds" type="text" readonly>
      </div>
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          Adult ICU Beds
        </div>
        <input id="mh-aicu-beds" type="text" readonly>
      </div>
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          Ped ICU Beds
        </div>
        <input id="mh-picu-beds" type="text" readonly>
      </div>
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          Bed Utilization
        </div>
        <input id="mh-util" type="text" readonly>
      </div>
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          Potential Increase in Bed Capacity
        </div>
        <input id="mh-inc" type="text" readonly>
      </div>
      <div class="ui fluid labeled input">
        <div class="ui basic label">
          Average Ventilator Usage
        </div>
        <input id="mh-avg-vent" type="text" readonly>
      </div>
    </div>
    </form>
  </div>