<div class="main-item" id="profile-page" style="display:none;">
    <div class="ui header">PROFILE<button class="ui mini positive right floated button">EDIT</button></div>
    <hr>
    <form>
      <div class="ui container">
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            X
          </div>
          <input id="mh-x" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            Y
          </div>
          <input id="mh-y" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            FID
          </div>
          <input id="mh-fid" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            Hospital Name
          </div>
          <input id="mh-hname" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            Hospital Type
          </div>
          <input id="mh-htype" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            HQ Address
          </div>
          <input id="mh-hq-add" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            HQ City
          </div>
          <input id="mh-hq-city" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            HQ State
          </div>
          <input id="mh-hq-state" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            HQ Zip Code
          </div>
          <input id="mh-hq-zip" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            Country
          </div>
          <input id="mh-country" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            State
          </div>
          <input id="mh-state" type="text">
        </div>
        <div class="ui fluid labeled input">
          <div class="ui basic label">
            FIPS
          </div>
          <input id="mh-fips" type="text">
        </div>
      </div>
    </form>
  </div>