<div class="main-item" id="settings-page" style="display: none;">
    <div class="ui segment">
    <h2 class="ui header">
      <i class="blue colored settings icon"></i>
      <div class="content">
        ACCOUNT SETTINGS
        <div class="sub header">Manage your Account</div>
      </div>
    </h2>
    </div>
    <hr>
    <div class="ui segment">
    <div class="ui vertical labeled icon buttons">
      <button class="blue colored ui button">
        <i class="lock icon"></i>
        Change Password
      </button>
      <button class="red colored ui button">
        <i class="user times icon"></i>
        Delete Account
      </button>
      <button class="green colored ui button">
        <i class="sync alternate icon"></i>
        Verify Account
      </button>
    </div>
    </div>
  </div>