<%- include("./partials/header") %>
<div class="ui center aligned segment masthead"  id="cover">
    <div class="ui center aligned text container">
        <h1 class="ui header ">Care Quest
        </h1>
        <p class="pretty">A Load Balancer for Medical Faciliities</p>
        <a href="/map" class="ui massive basic inverted animated button">
            <div class="visible content">CareCount</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>    
        </a>  
        <a href="#desc" class="ui massive basic inverted animated button">
          <div class="visible content">Services</div>
          <div class="hidden content">
            <i class="down arrow icon"></i>
          </div>            
        </a>
        <a href="" class="ui massive basic inverted animated button">
          <div class="visible content">Mission</div>
          <div class="hidden content">
            <i class="down arrow icon"></i>
          </div>            
        </a>
    </div>
</div>
<!-- Service Introduction -->
<div id="desc" style="display: flex;justify-content: center;">
  <div class="ui centered stackable link cards" data-aos="zoom-in-up" data-aos-easing="ease-out-sine" style="align-self:center;">
    <div class="ui link card" href="#PlasmaBankInfo">
      <div class="image" >
        <img src="blooddrop.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">Plasma Bank</div>
        <div class="description">Find Donors Near You</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#PlasmaBankInfo">Know More</a>
        </div>
      </div>
    </div>
    <div class="ui link card" href="#CareNetInfo">
      <div class="image">
        <img src="https://pngimage.net/wp-content/uploads/2018/06/hopital-png-5.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">CareNet</div>
        <div class="description">Community of Health Care Providers who care</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#CareNetInfo">Know More</a>
        </div>
      </div>
    </div>
    <div class="ui link card" href="#TrackABedInfo">
      <div class="image" >
        <img src="hospitalbed.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">Track A Bed</div>
        <div class="description">Make an Informed decision while choosing hospitals</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#TrackABedInfo">Know More</a>
        </div>
      </div>
    </div>
    <div class="ui link card" href="#CareBotInfo">
      <div class="image">
        <img src="CareBotPNG.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">CareBot</div>
        <div class="description">AI Powered Bot at your Service</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#CareBotInfo">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Plasma Bank Information -->
<div class="ui middle container" id="PlasmaBankInfo" style="display:flex;align-items: center;">
  <div class="ui stackable grid" >
    <div class=row>
      <h1 class="ui header" style="font-size:4em;">Plasma Bank</h1> 
    </div>
    <div class="row">
      <div class="ten wide column">
        <div class="ui large header">
          <div class="content">
            Plasma Donor Platform
            <div class="sub header">
              Donors can register with Plasma Bank allowing patients to contact them in need
            </div>
          </div>
        </div>
        <div class="ui large header">
          <div class="content">
            Patient Registeration
            <div class="sub header">
              Patients in need of plasma can register and get contacted with potential donors in their region
            </div>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <img class="ui image" data-aos="fade-up-right" data-aos-easing="ease-in-sine" src="BloodDonation.png">
      </div>
    </div>
  </div>
</div>
<br>
<!-- CareNet Information -->
<div class="ui middle container" id="CareNetInfo" style="display:flex;align-items: center;">
  <div class="ui stackable grid">
    <div class="row">
      <h1 class="ui header" style="font-size:4em;">CareNet</h1> 
    </div>
    <div class="row">
      <div class="six wide column">
        <img class="ui image" data-aos="fade-up-left" data-aos-easing="ease-in-sine" src="DoctorNurses.png">
      </div>
      <div class="ten wide column">
        <div class="ui large header">
          <div class="content">
            Network of HealthCare Providers
            <div class="sub header">
              Hospitals can register, get verified and become part of our Network
            </div>
          </div>
        </div>
        <div class="ui tablet stackable fluid three steps" data-aos="fade-left" data-aos-duration="500">
          <div class="step">
            <i class="file icon"></i>
            <div class="content">
              <div class="title">Register</div>
              <div class="description">Choose your shipping options</div>
            </div>
          </div>
          <div class="step">
            <i class="search icon"></i>
            <div class="content">
              <div class="title">Get Verified</div>
              <div class="description">Get OCR verified</div>
            </div>
          </div>
          <div class="step">
            <i class="paper plane icon"></i>
            <div class="content">
              <div class="title">Start Sharing</div>
              <div class="description">Collaborate and Share</div>
            </div>
          </div>
        </div>
        <div class="ui large header">
          <div class="content">
            Medical Collaboration to Get the Best
            <div class="sub header">
              Hospitals can collaborate by sharing information regarding resource availability and help in manuevering complicated cases
            </div>
          </div>
        </div>
        <div class="ui large header">
          <div class="content">
            Information Gathering
            <div class="sub header">
              Hospitals provide real time information allowing users to make informed decision while choosing a hospital
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Track A Bed Information-->
<div class="ui middle container" id="TrackABedInfo" style="display:flex;align-items: center;">
  <div class="ui stackable grid" >
    <div class="row">
      <h1 class="ui header" style="font-size:4em;">Track A Bed</h1>
    </div>
    <div class="row">
      <div class="ten wide column">
        <h3 class="ui large header">
          Information Provider
          <div class="sub header">
            Information collected through CareNet and Government Resources is shared with the user to make an informed decision while choosing a hospital
          </div>
        </h3>
        <h3 class="ui large header">
          Hospital Locator
          <div class="sub header">
            Information collected through CareNet and Government Resources is shared with the user to make an informed decision while choosing a hospital
          </div>
        </h3>
      </div>
      <div class="six wide column">
        <img class="ui centered image" data-aos="fade-up-right" data-aos-easing="ease-in-sine" style="height: 35vh;width: auto;" src="HospitalBedPNG.png">
      </div>
    </div>  
    <div class="row" style="display:flex;align-items: center;">
      <div class="six wide column">
        <img class="ui centered circular image" data-aos="fade-up-left" data-aos-easing="ease-in-sine" style="height:35vh;width:auto" src="mapcapture.PNG">
      </div>
      <div class="ten wide column">
        <h3 class="ui large left aligned header">
          Hospital Recommender
          <div class="sub header">
            Powered by <img class="ui mini spaced image" style="border-radius: 50%;" src="https://www.gisresources.com/wp-content/uploads/2018/01/here-maps-logo.png"> Here Maps API, Track A Bed locates Hospitals in your region
            and recommends hospitals based on time, distance and utilization parameter, providing surety of bed availability
          </div>
        </h3>
        <h3 class="ui large left aligned header" >
          Dynamic Routing
          <div class="sub header">
          Track A Bed supports dynamic routing providing user with additional functionality to find arbitrary routes  
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>
<br>
<!-- CareBot Information -->
<div class="ui middle container" id="CareBotInfo" style="display:flex;align-items: center;">
  <div class="ui stackable grid">
    <div class="row">
      <h1 class="ui header" style="font-size:4em;text-align: right;">CareBot</h1>
    </div>
    <div class="row">
      <div class="six wide column">
        <img class="ui centered image" data-aos="fade-up-left" data-aos-easing="ease-in-sine" style="height: 35vh;width: auto;" src="AIBot.png" >
      </div>
      <div class="ten wide column">
        <h3 class="ui large header">
          AI Guide
          <div class="sub header">
            Our platform is equipped with an AI based chat Bot called CareBot<br> CareBot can guide user through the offered services 
          </div>
        </h3>
      </div>
    </div>
  </div>    
</div>
<br>
<!-- Footer Segment -->
<div class="ui inverted vertical footer segment" data-aos="fade-up" data-aos-easing="ease-in-sine">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="eight wide centered column">
        <img class="ui medium image" src="https://i.ibb.co/ZW161BF/output-onlinepngtools-1.png"> 
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Home</a>
          <a href="#" class="item">CareBoard</a>
          <a href="#" class="item">Contact Us</a>
          <a href="#" class="item">Mission</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h5>
        <div class="ui inverted link list">
          <a href="#PlasmaBankInfo" class="item">Plasma Bank</a>
          <a href="#TrackABedInfo" class="item">Track A Bed</a>
          <a href="#CareNetInfo" class="item">CareNet</a>
        </div>  
        <div class="ui black inverted segment">
          <div class="ui vertical inverted list">
            <div class="item">
              <div class="ui horizontal inverted link list">
                <a href="#" class="item"><i class="github icon"></i></a>
                <a href="#" class="item"><i class="envelope icon"></i></a>
                <a href="#" class="item"><i class="youtube icon"></i></a>
              </div>
            </div>
            <div class="item">
              <h6 class="ui header">Copyright <i class="copyright icon"></i> Team BITSians 2020</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script> 
document.getElementById("about").classList.add("active"); 
</script>
<%- include("./partials/footer") %>
