<%- include("./partials/header") %>
<div class="ui center aligned segment masthead"  id="cover">
    <div class="ui center aligned text container">
        <h1 class="ui header ">Care Quest
        </h1>
        <p class="pretty">A Load Balancer for Medical Faciliities</p>
        <a href="/map" class="ui massive basic inverted animated button">
            <div class="visible content">Get Started</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>    
        </a>  
        <a href="#desc" class="ui massive basic inverted animated button">
          <div class="visible content">Services</div>
          <div class="hidden content">
            <i class="down arrow icon"></i>
          </div>            
	      </a>
    </div>
</div>
<!-- Service Introduction -->
<div id="desc" style="display: flex;justify-content: center;">
  <div class="ui centered stackable link cards" data-aos="zoom-in-up" data-aos-easing="ease-out-sine" style="align-self:center;">
    <div class="ui link card" href="#PlasmaBankInfo">
      <div class="image" >
        <img src="blooddrop.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">Plasma Bank</div>
        <div class="description">Find Donors Near You</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#PlasmaBankInfo">Know More</a>
        </div>
      </div>
    </div>
    <div class="ui link card" href="#CareNetInfo">
      <div class="image">
        <img src="https://pngimage.net/wp-content/uploads/2018/06/hopital-png-5.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">CareNet</div>
        <div class="description">Community of Health Care Providers who care</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#CareNetInfo">Know More</a>
        </div>
      </div>
    </div>
    <div class="ui link card" href="#TrackABedInfo">
      <div class="image" >
        <img src="hospitalbed.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">Track A Bed</div>
        <div class="description">Make an Informed decision while choosing hospitals</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#TrackABedInfo">Know More</a>
        </div>
      </div>
    </div>
    <div class="ui link card" href="#CareBotInfo">
      <div class="image">
        <img src="CareBotPNG.png" style="height:30vh;width:auto;padding:10px;margin:auto;">
      </div>
      <div class="content">
        <div class="header">CareBot</div>
        <div class="description">AI Powered Bot at your Service</div>
      </div>
      <div class="extra content">
        <div class="right floated author">
          <a href="#CareBotInfo">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Plasma Bank Information -->
<div class="ui middle container" id="PlasmaBankInfo" style="display: flex;justify-content: center;">
  <br>
  <div class="ui stackable grid" >
    <div class="ten wide column">
      <h1 class="ui header" style="font-size:4em;">Plasma Bank</h1>
    </div>
    <div class="six wide column">
      <img class="ui image" data-aos="fade-up-left" data-aos-easing="ease-in-sine" src="BloodDonation.png">
    </div>
  </div>
</div>
<br>
<!-- CareNet Information -->
<div class="ui middle container" id="CareNetInfo">
  <h1 class="ui header" style="font-size:4em;">CareNet</h1>
  <div class="ui stackable grid" >
    <div class="row">
      <div class="six wide column">
        <img class="ui image" data-aos="fade-up-left" data-aos-easing="ease-in-sine" src="DoctorNurses.png">
      </div>
      <div class="ten wide column">
        <div class="ui large header">
          <div class="content">
            Network of HealthCare Providers
            <div class="sub header">
              Hospitals can register, get verified and become part of our Network
            </div>
          </div>
        </div>
        <div class="ui large header">

          <div class="content">
            Network of HealthCare Providers
            <div class="sub header">
              Hospitals can register, get verified and become part of our Network
            </div>
          </div>
        </div>
        <div class="ui large header">
          <div class="content">
            Information Gathering
            <div class="sub header">
              Hospitals provide real time information allowing users to make informed decision while choosing a hospital
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Track A Bed Information-->
<div class="ui middle container" id="TrackABedInfo">
  <div class="ui stackable grid" >
    <div class="ten wide column">
      <h1 class="ui left floated header" style="font-size:4em;">Track A Bed</h1>
      <h3 class="ui header"></h3>
    </div>
    <div class="six wide column">
      <img class="ui image" data-aos="fade-up-right" data-aos-easing="ease-in-sine" src="HospitalBedPNG.png">
    </div>
  </div>
</div>
<br>
<!-- CareBot Information -->
<div class="ui middle container" id="CareBotInfo">
  <div class="ui stackable grid">
      <div class="row">
        <div class="six wide column">
          <img class="ui image" data-aos="fade-up-right" data-aos-easing="ease-in-sine" src="AIBot.png" >
        </div>
        <div class="ten wide column">
          <h1 class="ui right floated header" style="font-size:4em;">CareBot</h1>
        </div>
      </div>
  </div>    
</div>
<!--
<h1 class="ui centered header" style="font-size: 3em;">Project Features</h1>
<br>
<div class="ui middle aligned stackable grid container">
  <div class="two column row">
    <div class="ten wide column">
      <div class="ui relaxed items">
        <div class="item">
          <div class="middle aligned content">
            <div class="header">Information Provider</div>
            <div class="description">CareQuest
   provides relevant information like number of ICU beds, ventilator equipped beds and many more. This allows user to make an informed decision while chosing a Hospital</div>
          </div>
        </div>
        <br>
        <div class="item">
          <div class="middle aligned content">
            <div class="header">Load Balancer</div>
            <div class="description">CareQuest
   provides utilization value for each registered hospital. Based on this utilization value, dynamic map provides nearby hospitals and recommends hospitals based on distance, travelling time and utilization value. Our attempt is to reduce patient inflow to hospitals with high utilization value. </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right floated center aligned six wide column">
      <img src="https://pngimage.net/wp-content/uploads/2018/06/hopital-png-5.png" style="height:40vh;">
    </div>
  </div>
  <div class="row"></div>
  <div class="one column centered row">
    <div class="ten wide column">
      <div class="ui items">
        <div class="item">
          <div class="image">
            <img src="https://www.freepngimg.com/download/map/62663-vector-map-google-center-icons-maps-computer.png" style="height:30vh;width:auto;">
          </div>
          <div class="middle aligned content">
            <div class="header">Dynamic Routing</div>
            <div class="description">Using Here:Maps API, CareQuest
   highlights hospitals nearby along with that hospital's information. It also provides routing options along with advance search feature to get most suitable available option.  </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

</div>
-->
<script> 
document.getElementById("about").classList.add("active"); 
$('.ui.accordion')
  .accordion()
;
</script>
<%- include("./partials/footer") %>
