<%- include("./partials/header") %>
<div class=" ui main text container">
  <br>
        <h1 class="ui center aligned header">A note from developers</h1>
        <p>We are just some random teens interested in UI/UX Designs and Building web apps with beautiful interface.</p>
        <br><hr>
        <div class="ui divided items">
            <div class="item">

              <div class="content">
                <a class="header">Sudhanshu Mohan Kashyap</a>
                <div class="ui small circular left floated image">
                    <img src="https://avatars0.githubusercontent.com/u/44811918?s=460&u=953f701cf19a5537b6c6ac57f1a5209e395bb6c9&v=4">
                  </div>
                <div class="meta">
                  <span class="dark">Electrical & Electronics Major at BITS Pilani</span>
                </div>
                <div class="description">
                <p><i>"I am mainly interested in building beautiful UI/UX Interfaces."</i>
                    I started out as cybersecurity enthusiast but later got interested in web development. Since then i am constantly developing and deploying webapps.
                </p>
                </div>
                <div class="extra ">
                  <button class="ui inverted mini red button">Python</button>
                  <button class="ui inverted mini red button">Javascript</button>
                  <button class="ui inverted mini red button">NodeJS</button>
                  <button class="ui inverted mini red button">MongoDB</button>
                 
                  
                                    
                  <div class="left floated">
                    <a href="https://github.com/mightyjoe781"><i class="large github icon"></i></a>
                    <a href="mailto:f20180319@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                    <a href="https://www.facebook.com/sudhanshu.mohan.smk"><i class="large facebook icon"></i></a>
                    <a href="https://www.linkedin.com/in/sudhanshu-mohan-kashyap-60458518a/"><i class="large linkedin alternate icon "></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="item">
                <div class="content">
                  <a class="header">Prashant Ramesh Jha</a>
                  <div class="ui small circular right floated image">
                    <img src="https://scontent.fixc4-1.fna.fbcdn.net/v/t1.0-9/48387814_100321644365933_2165336255091441664_n.jpg?_nc_cat=103&_nc_sid=09cbfe&_nc_ohc=0IkBORb_AxAAX-FzNoS&_nc_ht=scontent.fixc4-1.fna&oh=8e8dba8f25dc3a5eed78581f438866a2&oe=5F47DB11">
                  </div>
                  <div class="meta">
                    <span class="dark">Electronics & Communications Major at BITS Pilani</span>
                  </div>
                  <div class="description">
                  <p><i>"I am an innovator, always looking forward to build scalable solutions."</i>
                      Started with web applications, but now looking forward to software development. Solving problems is my passion, not hobby.
                  </p>
                  </div>
                  <div class="extra">
                    <button class="ui inverted mini blue button">Python</button>
                    
                    <button class="ui inverted mini blue button">HTML</button>
                    <button class="ui inverted mini blue button">CSS</button>
                    <button class="ui inverted mini blue button">Javascript</button>
                    <button class="ui inverted mini blue button">PHP</button>
                    
                <div class="right floated">
                <a href="https://github.com/pjflux2001"><i class="large github icon"></i></a>
                      <a href="mailto:f20180332@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                      <a href="https://www.facebook.com/pj.flux"><i class="large facebook icon"></i></a>
                      <a href="https://www.linkedin.com/in/prashant-jha-22b1671a5/"><i class="large linkedin alternate icon "></i></a>
                </div>

                </div>
            </div>
        </div>

        <div class="item">

          <div class="content">
            <a class="header">Apoorv Garg</a>
            <div class="ui small circular left floated image">
                <img src="https://scontent.fixc4-1.fna.fbcdn.net/v/t1.0-9/67139441_2378805452210162_7327534289413734400_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=pUMyq_599LsAX-a4K03&_nc_ht=scontent.fixc4-1.fna&oh=0c56b62ed568059d6e503f9dbba843d1&oe=5F49B183">
              </div>
            <div class="meta">
              <span class="dark">Computer Science and Mathematics Major at BITS Pilani</span>
            </div>
            <div class="description">
            <p><i>"Interested in Web-App Development and Machine Learning."</i>
              I am a third yearite exploring different interests like machine learning and UI development. I have just started my UI journey and am excited to learn more.
            </p>
            </div>
            <div class="extra">
             
              <button class="ui inverted mini green button">Python</button>
              
              <button class="ui inverted mini green button">HTML</button>
              <button class="ui inverted mini green button">CSS</button>
              <button class="ui inverted mini green button">Javascript</button>
              <button class="ui inverted mini green button">Matlab</button>
              
                                
              <div class="left floated">
                <a href="https://github.com/ApEdu"><i class="large github icon"></i></a>
                <a href="mailto:gargapoorv12@gmail.com"><i class="large envelope outline icon"></i></a>
                <a href="https://www.facebook.com/garg.apoorv12"><i class="large facebook icon"></i></a>
                <a href="https://www.linkedin.com/in/apoorv-garg-a64891190"><i class="large linkedin alternate icon "></i></a>
              </div>
              
            </div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a class="header">Umang Barthwal</a>
            <div class="ui small circular right floated image">
              <img src="https://media-exp1.licdn.com/dms/image/C5103AQGa0-MQKC_tRw/profile-displayphoto-shrink_400_400/0?e=1600905600&v=beta&t=k10FcRp1-dym7YzPJ1k9RwBqkMLyOPq2imxa6H0CYj8">
            </div>
            <div class="meta">
              <span class="dark">Computer Science & Physics Major at BITS Pilani</span>
            </div>
            <div class="description">
            <p><i>"I am an Open-Source Contributor. Interested in Web-app Development and Relativistic Physics"</i>
              Started my journey with simple python programs and models. Now exploring the field of development.
            </p>
            </div>
            <div class="extra">
              <button class="ui inverted mini brown button">Python</button>
              <button class="ui inverted mini brown button">C++</button>
              <button class="ui inverted mini brown button">Javascript</button>
              <button class="ui inverted mini brown button">.NETCore</button>
              <button class="ui inverted mini brown button">MySQL</button>
             
          <div class="right floated">
          <a href="https://github.com/barthwalumang"><i class="large github icon"></i></a>
                <a href="mailto:barthwalumang@gmail.com"><i class="large envelope outline icon"></i></a>
                <a href="https://www.facebook.com/barthwal.umang.96/"><i class="large facebook icon"></i></a>
                <a href="https://www.linkedin.com/in/barthwalumang/"><i class="large linkedin alternate icon "></i></a>
          </div>

          </div>
      </div>
  </div>

             
  <div class="item">

    <div class="content">
      <a class="header">Aayush Kaushal</a>
      <div class="ui small circular left floated image">
          <img src="https://media-exp1.licdn.com/dms/image/C5603AQGg0bzLCz_NKQ/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=fA2HenTHnhHICvXlqhj1xyvnauZBZ-mH6iltculhJ8E">
        </div>
      <div class="meta">
        <span class="dark">Computer Science and Mathematics Major at BITS Pilani</span>
      </div>
      <div class="description">
      <p><i> "Interested in Web-App Development and Artificial Intelligence." </i>
        My specialty includes problem-solving, quickly learning new skills, and programming languages. I enthusiastically grab onto any programming language, framework.
      </p>
      </div>
      <div class="extra">
        <button class="ui inverted mini yellow button">Python</button>
        <button class="ui inverted mini yellow button">C++</button>
        <button class="ui inverted mini yellow button">HTML</button>
        <button class="ui inverted mini yellow button">CSS</button>
        <button class="ui inverted mini yellow button">Javascript</button>
              
        
                          
        <div class="left floated">
          <a href="https://github.com/Aayush-7"><i class="large github icon"></i></a>
          <a href="mailto:f20180838@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
          <a href="https://www.facebook.com/aayush.kaushal.359/"><i class="large facebook icon"></i></a>
          <a href="https://www.linkedin.com/in/aayush-kaushal-6a6289190/?originalSubdomain=in"><i class="large linkedin alternate icon "></i></a>
        </div>
        
      </div>
    </div>
  </div>

         

    </div>
    <hr>
</div>
<script> document.getElementById("contact").classList.add("active"); </script>
<%- include("./partials/footer") %>